.card-informativa{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-mini-banner{
    height: auto;
}
.card-informativa > p{
    font-size: 18px;
}
.boton-login{
    height: 20px;
}