
@media(max-width: 768px){
    .titulos-info-pedidos{
        line-height: 0;
        display: block!important;
    }
    .data-info-pedidos{
        float: none!important;
    }
    .mostrar-pedido{
        display: none;
    }
    .centrar-avatar{
        width: 160px;
        height: auto!important;
    }
}
.centrar-avatar{
    width: 160px;
    height: 200px;
}
.contenedor-card-pedidos{
    height: 300px;
}

.botton-top{
    margin-top: 0px!important;
}

.border-pedido{
    border: 1px solid gray;
    border-bottom: 1px solid gray;
}
.contenedor-imagen-pedido, .contenedor-imagen-detalle-apartado{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-detalle-pedido, .imagen-detalle-apartado{
    max-width: 99%;
    max-height: 99%;
}

.contenedor-imagen-mostrar-apartado{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-mostrar-apartado{
    max-width: 100%;
    max-height: 100%;   
}