@import '~antd/dist/antd.css';

.barsMenu, .top-menu-responsive{
  display: none;
}
.ant-layout-header{
  padding: 0;
  background-color: white;
}
.contenedor-logo{
  // margin-left: 20%;
  margin-bottom: 10px;
  height: 70px;
  width: 190px;
  padding: 0px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo > a{
  // width: 100%;
  // height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.imagen-logo-principal{
  max-width: 100%;
  max-height: 100%;
}

.top-menu{
  margin: 0!important;
}
.navbar-menu-general{
  border: none;
}
.search-navbar{
  width: 100%;
  // max-width: 100%;
  max-height: 100%!important;
}
 .nav-font-pages {
  padding: 0 10px!important;
} 


/* TAMAÑOS NAV PRINCIPAL */
.row-logo-search{
  height: 100%!important;
}
.row-logo-search-2{
  display: flex;
  // align-items: center;
}

.a00{
  height: 30px;
}
.a0{
  height: 70px;
  font-weight: bold;
}

.a1{
  height: 100%;
  // height: 60px;
  line-height: normal;
}
.a2{
  height: 100%;
  line-height: normal;
}
.a3{
  height: 100%;
  // display: flex;
  // align-items: center;
}
//el a4 separa arriba del input
.a4{
  height: 30px;
  padding: 0px!important;
}
.a5{
  height: 100%;
}
.a50{
  height: 100%;
  border: 0px solid white;
}
.a6{
  height: 100%;
}
.a6 > .centrar-nav, .ant-menu-submenu-title {
  height: 100%;
  display: flex;
  // align-items: center;
}

@media(max-width: 992px){
  .barsMenu{
    display: inline-block;
  }
  .top-menu{
    display: none;
  }
  .top-menu-responsive{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menuCon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*   .ant-layout-header{
    padding: 0;

  } */
  .search-nav-responsive{
    width: 89%;
  }
}

// .input-search{
//   margin-left: 15px;
//   width: 83%;
//   border-top-left-radius: 50px;
//   border-bottom-left-radius: 50px;
//   height: 40px;
 
// }
// .boton-search{
//   border-top-right-radius: 50px;
//   border-bottom-right-radius: 50px;
//   height: 40px;
// }
.boton-cate-input{
  height: 40px;
}
.containe-categorias{
  // width: 100px;
  // position: absolute;
  // margin-left: 6%;
  // // top: 15%;
  // z-index: 70;
  padding: 0px!important;
  display: flex;
  text-align: center;
  justify-content: center;
}
.container-pages{
  // position: ;
  z-index: 50;
}
// .container-prin{
//   position: relative;
// }