@media(max-width: 768px){
    .mensaje{
        display: flex;
    }
}

.mensaje{
    display: none;
}
.hover-delete{
    display: flex;
}
.hover-delete:hover > .icono{
    display: flex!important;
}
.icono{
    transition: all .2s ease-in-out;
    display: none!important;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.icono:hover{
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.500);
}
.contenido-talla{
    font-size: 40px!important; 
}