.prinpales{
    background: white;
}

.__nombres{
    font-size: 15px;
}

.__categ{
    font-size: 16px;
}

.__tupedido{
    font-size: 14.5px;
    font-weight: bold;
}

.__cargos{
    font-size: 23px;
}

.__subs{
    font-size: 23px;
    font-weight: bold;
}