

.upload-user-perfil{
    display: table;
    margin: 0 auto;
    border: 2px solid #9a9a9a;
    border-style: dashed;
    border-radius: 150px;
    padding: 10px;
    margin-bottom: 20px;
}

.upload-user-perfil:hover{
    cursor: pointer;
}



