.contenedor-home-background{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
}
.contenedor-home-banner{
    width: 100%;
    display: flex;
}
.divider-home-banner{
    border-right: 1px solid;
    border-left: 1px solid;
}
.textos-home > h2 {
    font-weight: 800;
    font-size: 18px;
}
.textos-home > p {
    font-size: 10px;
    font-weight: 400;
}
@media(max-width: 768px){
    .divider-home-banner{
        padding: 10px 0;
        border-right: none;
        border-left: none;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .textos-home > h2 {
        font-size: 15px;
    }
    .textos-home > p {
        font-size: 10px;
    }
}